FPL_DATA_DIR=../../data
FPL_MY_TEAM_ID=2797967
FPL_DEFAULT_LEAGUE_ID=58005
FPL_ALLOWED_ORIGINS=http://localhost:3000
TELEGRAM_BOT_NAME=
TELEGRAM_ALLOWED_USER_IDS=
TELEGRAM_WEBHOOK_SECRET=
FPL_AUTOPILOT_BASE_URL=https://sportmania.duckdns.org/fpl-autopilot
FPL_AUTOPILOT_TOKEN=
